<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
    <% if(typeof users != 'undefined'){ %>
		    <% users.forEach(function(user){ %>
					<div class="card" style="width:400px">
						<img class="card-img-top" src= "<%= user.photo %>" alt="Card image" style="width:100%">
						<div class="card-body">
							<h4 class="card-title"><%= user.name %></h4>
							<p class="card-text"><%= "skills: "+ user.skills %></p>
							<a href="#" class="btn btn-primary">See Profile</a>
						</div>
					</div>
		  	<% }); %>
    <% } %>
	</div>

	<% if(typeof error_messages != 'undefined'){ %>
		<%- include('messages') %>
		<a href="/search" class="btn btn-secondary btn-block m-2 p-1">Go back to Search Page</a>
	<% } %>
</body>
</html>
